.resultsPageDocuments_header {
    font-size: 30px;
    line-height: 36px;
    margin: 107px 0 58px;
}
.resultsPageDocuments_docs {
    width: 90vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.btn-docs {
    width: 330px;
    padding:0;
    margin: 38px 0 109px;
}
.btn-docs:hover{
    cursor: pointer;
}
.docs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media  screen and (max-width:860px) {
    .resultsPageDocuments_docs {
        flex-direction: column;
    }
    .resultsPageDocuments_header {
        font-size: 28px;
        line-height: 34px;
    }
    .btn-docs {
        margin-bottom: 57px;
    }
}
