.resulsPageStartInfo {
    display: flex;
    justify-content: space-between;
}
@media  screen and (max-width:860px) {
    .resulsPageStartInfo {
        flex-direction: column;
    }
    .results_startInfo_item:first-child {
        font-size: 28px;
        line-height: 34px;
    }
    .results_startInfo_item:last-child {
        font-size: 18px;
        line-height: 22px;
    }
    .results_startInfo_pic svg {
        width:90vw;
        display: block;
        height: 40vh;
    }

}