@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url(https://myfonts.ru/myfonts?fonts=ferry);
@font-face {
    font-family: "Inter-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Inter-Regular.ttf") format("ttf"),
}

.App {
  text-align: center;
  margin: 0;    
}
.Body {
  margin: 0 60px;
  box-sizing: border-box;
}
.link{
  text-decoration: none;
  width: 90%
}

@media  screen and (max-width:860px) {
  .Body {
    margin:0 14px;
  }
}

